:root {
	--mod-border-radius: 5px;
	--mod-whitespace: 5px;
	--mod-whitespace-tabbar-right: 15px;
	--highlight-color: #c00;
	--drop-shadow: 3px 3px 5px -1px rgba(0,0,0,.3);
}

/* -- Tabs -- */
#tabs-tabbar-container.top {
	margin-bottom: var(--mod-whitespace);
	border-width: 0;
	box-shadow: none !important;

	padding-right: var(--mod-whitespace-tabbar-right);

	.tab-strip > span + span .tab:not(.pinned) {
		margin-left: var(--mod-whitespace);
	}
}

.tab-position {
	.tab {
		transition: all 1s ease;
		border-radius: var(--mod-border-radius) !important;

		/* overwrite potential chrome mods */
		&::after,
		&::before {
			display: none;
		}

		.close {
			background-color: transparent;
			border-radius: 99rem;
		}

		&.active {
			box-shadow: var(--drop-shadow);
		}
	}
}

/* -- tabs horizontal scrolling enabled --*/
.horizontal-scrolling {
	&.tab-strip {
		padding-top: unset !important;
		margin-top: unset !important;
	}
}

/* -- highlight tab with background audio -- */
.tab.audio-on:not(.active) {
	transition: all 1s ease;
	color: var(--colorAccentFg, var(--highlight-color));
	border: 1px solid currentColor;
	box-shadow: var(--drop-shadow);
}

/* -- Main Bar -- */
.mainbar {
	& > .toolbar-mainbar {
		height: 50px;
	}
}

.UrlBar-SearchField,
.UrlBar-AddressField {
	border-radius: var(--mod-border-radius);
	height: auto;
	padding: var(--mod-whitespace);

	.pageload-indicator {
		border-radius: var(--mod-border-radius);
		height: 100% !important;
	}
}

.OmniDropdown {
	top: 100% !important;
}

.toolbar-mainbar .profile-popup {
		margin-right: var(--mod-whitespace-tabbar-right);
}

/* -- Speed dial -- */
.dials {
	.dial *:hover {
		cursor: pointer;
	}
}
