/* -- Tabs -- */
/* cursor on all tabs */
.tab * {
  cursor: pointer;
}

/* lower opacity of background tabs */
#tabs-tabbar-container.top {
  :is(.tab) {
    transition: opacity .3s ease;

    &:not(.active, :hover, .audio-on) {
      opacity: .3;
    }

    /* make close button more subtle */
    & .close {
      background-color: transparent !important;
    }
  }
}

/* overwrite bookmark button color if bookmark is saved */
/*  delete the next line, if you do not want the bookmark-button inherit */
/*  the accentColor but use red instead */
--bookmarkButtonSavedColor: var(--colorTabBar);
.BookmarkButton .button-on path {
  fill: var(--bookmarkButtonSavedColor, red) !important;
}

/* prevent blurry text in tabs on zoom */
.tab-position {
  will-change: unset !important;
}
