/* -- Tabs -- */
/* cursor on all tabs */
.tab * {
  cursor: pointer;
}

/* lower opacity of background tabs */
#tabs-tabbar-container.top {
  :is(.tab, button) {
    transition: opacity .3s ease;

    &:not(.active, :hover, .audio-on) {
      opacity: .3;
    }

    /* make close button more subtle */
    & .close {
      background-color: transparent !important;
    }
  }
}

/* overwrite bookmark button color */
.BookmarkButton .button-on path {
  fill: red !important;
}

/* prevent blurry text in tabs on zoom */
.tab-position {
  will-change: unset !important;
}
