/* -- Tabs -- */
/* cursor on all tabs */
.tab * {
	cursor: pointer;
}

/* lower opacity of background tabs */
#tabs-tabbar-container.top {
	:is(.tab) {
		transition: opacity .3s ease;

		&:not(.active, :hover, .audio-on) {
			opacity: .3;
		}

		/* make close button more subtle */
		& .close {
			background-color: transparent !important;
		}
	}
}

/* prevent blurry text in tabs on zoom */
.tab-position {
	will-change: unset !important;
}

/* remove padding when autohide is on */
/*.auto-hide {*/
/*	#tabs-tabbar-container.top {*/
/*		padding-top: 0 !important;*/
/*	}*/
/*}*/

/* add border, when autohide is off */
.auto-hide-off {
	#header {
		border-bottom: 1px solid var(--colorFg);
	}

}