/* -- Tabs -- */
/* cursor on all tabs */
.tab * {
	cursor: pointer;
}

/* lower opacity of background tabs */
#tabs-tabbar-container.top {
	.tab {
		transition: all .3s ease;

		&:not(.active, :hover, .audio-on) {
			opacity: .3;
		}
	}
}

/* prevent blurry text in tabs on zoom */
.tab-position {
	will-change: unset !important;
}
