/* -- Tabs -- */
/* cursor on all tabs */
.tab * {
	cursor: pointer;
}

/* lower opacity of background tabs */
#tabs-tabbar-container.top {
	.tab:not(.active, :hover) {
		opacity: .5;
	}
}

/* prevent blurry text in tabs on zoom */
.tab-position {
	will-change: unset !important;
}
